<mat-card class="login-card">
    <mat-card-header  *ngIf="!loggedIn">
        <h2>User Login</h2>
    </mat-card-header>
    <mat-card-content>
        <form #loginForm="ngForm" (submit)="onLogin()" *ngIf="!loggedIn"> 
            <mat-form-field>
                <mat-label>User Name</mat-label>
                <input matInput placeholder="User Name" [(ngModel)]="user" name="user" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password"
                    required>
            </mat-form-field>
            <div class="Container">
                 <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid" (click)="onLogin()">Login</button>
               
                 <button mat-raised-button color="primary" >Sign Up</button>
            </div>
        </form> 
        <button *ngIf="loggedIn" (click)="signOut()">
        Sign Out
      </button>       
    </mat-card-content>


  <!--button mat-raised-button color="accent"
          *ngIf="!loggedIn"
          (click)="signInWithFB()">
    Sign in with Facebook
  </button>

  <div *ngIf="loggedIn" class="profile">
    <img [src]="socialUser?.photoUrl" width="80" />
    <p>{{ socialUser?.name }}</p>
    <p>{{ socialUser?.email }}</p>

    <button mat-stroked-button color="warn"
            (click)="signOut()">
      Logout
    </button>    
  </div-->

  
</mat-card>