.address-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.row {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

@media (max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
  }
}
