USE [master]
GO
/****** Object:  Database [Ecommerce]    Script Date: 15-11-2025 11:13:53 ******/
CREATE DATABASE [Ecommerce]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelBooking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelBooking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelBooking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelBooking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ecommerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ecommerce]
GO
/****** Object:  User [HotelUser]    Script Date: 15-11-2025 11:13:54 ******/
CREATE USER [HotelUser] FOR LOGIN [HotelUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [HotelUser]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [HotelUser]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [HotelUser]
GO
/****** Object:  Schema [ecom]    Script Date: 15-11-2025 11:13:54 ******/
CREATE SCHEMA [ecom]
GO
/****** Object:  Schema [ecomm]    Script Date: 15-11-2025 11:13:54 ******/
CREATE SCHEMA [ecomm]
GO
/****** Object:  View [ecom].[OrdersWithTotals]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ecom].[OrdersWithTotals]
AS
SELECT
    o.Id,
    o.CreatedAt,
    o.CustomerId,
    TotalFromItems = ISNULL(SUM(oi.LineTotal), 0.00)
FROM ecom.Orders o
LEFT JOIN ecom.OrderItems oi ON oi.OrderId = o.Id
GROUP BY o.Id, o.CreatedAt, o.CustomerId;
GO
/****** Object:  Table [dbo].[content]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[content](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[title1] [nvarchar](160) NOT NULL,
	[title2] [nvarchar](160) NOT NULL,
	[value] [nvarchar](max) NOT NULL,
	[hours] [nvarchar](max) NOT NULL,
	[phonenumber] [nvarchar](max) NOT NULL,
	[phonenumber1] [nvarchar](60) NOT NULL,
	[faxnumber] [nvarchar](60) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[description] [nvarchar](1500) NOT NULL,
	[mail] [nvarchar](50) NOT NULL,
	[whours] [datetime] NOT NULL,
	[contact] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblavailability]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblavailability](
	[RoomNo] [int] NOT NULL,
	[BookedDate] [nvarchar](23) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomers]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomers](
	[CustID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](13) NOT NULL,
	[Age] [int] NOT NULL,
	[Sex] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[CustID] ASC,
	[Name] ASC,
	[PhoneNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblreservation]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblreservation](
	[CustID] [int] IDENTITY(1,1) NOT NULL,
	[RoomNo] [int] NOT NULL,
	[CheckInDate] [nvarchar](10) NOT NULL,
	[CheckOutDate] [nvarchar](10) NOT NULL,
	[NoOfAdults] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblrooms]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblrooms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoomNo] [int] NOT NULL,
	[RoomType] [nvarchar](20) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ecomm].[Cart]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ecomm].[Cart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ImageUrl] [nvarchar](200) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ecomm].[Category]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ecomm].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IndexPageId] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[SubCategoryId] [int] NULL,
	[Rank] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ecomm].[FilterBy]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ecomm].[FilterBy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilterName] [nvarchar](50) NOT NULL,
	[OptionName] [nvarchar](50) NULL,
	[OptionValue] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ecomm].[IndexPage]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ecomm].[IndexPage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ModuleName] [nvarchar](50) NOT NULL,
	[FilterById] [nvarchar](50) NULL,
	[Rank] [int] NULL,
 CONSTRAINT [PK_IndexPage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ecomm].[OrderItems]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ecomm].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[LineTotal]  AS ([UnitPrice]*[Quantity]) PERSISTED,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ecomm].[Orders]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ecomm].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[CustomerId] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ecomm].[Payment]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ecomm].[Payment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[TransactionId] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[TransactionDesc] [nvarchar](250) NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ecomm].[Products]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ecomm].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CategoryId] [int] NULL,
	[Color] [nvarchar](10) NULL,
	[Discount] [int] NULL,
	[Blouse] [bit] NULL,
	[NewArrival] [bit] NULL,
	[ImageUrl] [nvarchar](512) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ecomm].[Shipment]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ecomm].[Shipment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[PaymentId] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[OrderAmount] [decimal](10, 2) NOT NULL,
	[ShipAmount] [decimal](10, 2) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](50) NOT NULL,
	[DeliveryAddressId] [int] NOT NULL,
 CONSTRAINT [PK__Shipment__3214EC07ED1EE4F9] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ecomm].[Track]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ecomm].[Track](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[PaymentId] [int] NOT NULL,
	[ShipmentId] [int] NOT NULL,
	[DeliveryAddressId] [int] NOT NULL,
	[PackageVendorName] [nvarchar](100) NOT NULL,
	[PackageVendorAddress] [nvarchar](100) NOT NULL,
	[PackageStatus] [nvarchar](30) NOT NULL,
	[DeliveryStatus] [nvarchar](30) NOT NULL,
	[DeliveryRemarks] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ecomm].[UserDetail]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ecomm].[UserDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[PhoneNo] [nvarchar](15) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[State] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](10) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[AlternatePhoneNo] [nvarchar](15) NULL,
 CONSTRAINT [PK_UserDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ecomm].[Users]    Script Date: 15-11-2025 11:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ecomm].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](512) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Role] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblavailability] ([RoomNo], [BookedDate]) VALUES (200, N'13-Oct-25')
INSERT [dbo].[tblavailability] ([RoomNo], [BookedDate]) VALUES (200, N'14-Oct-25')
GO
INSERT [dbo].[tblCustomers] ([CustID], [Name], [Address], [PhoneNo], [Age], [Sex]) VALUES (5, N'Kathiravan', N'Test Address', N'9444781278', 46, N'M')
INSERT [dbo].[tblCustomers] ([CustID], [Name], [Address], [PhoneNo], [Age], [Sex]) VALUES (5, N'Punithavalli', N'Address', N'9444781278', 40, N'F')
GO
SET IDENTITY_INSERT [dbo].[tblreservation] ON 

INSERT [dbo].[tblreservation] ([CustID], [RoomNo], [CheckInDate], [CheckOutDate], [NoOfAdults]) VALUES (1, 200, N'13-Oct-25', N'13-Oct-25', 2)
INSERT [dbo].[tblreservation] ([CustID], [RoomNo], [CheckInDate], [CheckOutDate], [NoOfAdults]) VALUES (2, 200, N'13-Oct-25', N'14-Oct-25', 2)
INSERT [dbo].[tblreservation] ([CustID], [RoomNo], [CheckInDate], [CheckOutDate], [NoOfAdults]) VALUES (3, 200, N'13-Oct-25', N'14-Oct-25', 2)
SET IDENTITY_INSERT [dbo].[tblreservation] OFF
GO
SET IDENTITY_INSERT [dbo].[tblrooms] ON 

INSERT [dbo].[tblrooms] ([ID], [RoomNo], [RoomType], [Price]) VALUES (1, 100, N'Deluxe', CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[tblrooms] ([ID], [RoomNo], [RoomType], [Price]) VALUES (2, 200, N'Economic', CAST(200.00 AS Decimal(10, 2)))
INSERT [dbo].[tblrooms] ([ID], [RoomNo], [RoomType], [Price]) VALUES (3, 300, N'Premium', CAST(300.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[tblrooms] OFF
GO
SET IDENTITY_INSERT [ecomm].[Category] ON 

INSERT [ecomm].[Category] ([Id], [IndexPageId], [CategoryName], [SubCategoryId], [Rank]) VALUES (1, 3, N'Formal', NULL, NULL)
INSERT [ecomm].[Category] ([Id], [IndexPageId], [CategoryName], [SubCategoryId], [Rank]) VALUES (2, 3, N'Casual', NULL, NULL)
INSERT [ecomm].[Category] ([Id], [IndexPageId], [CategoryName], [SubCategoryId], [Rank]) VALUES (3, 3, N'PartyWare', NULL, NULL)
SET IDENTITY_INSERT [ecomm].[Category] OFF
GO
SET IDENTITY_INSERT [ecomm].[FilterBy] ON 

INSERT [ecomm].[FilterBy] ([Id], [FilterName], [OptionName], [OptionValue]) VALUES (1, N'Color', N'Option', N'Red,Green,Blue')
INSERT [ecomm].[FilterBy] ([Id], [FilterName], [OptionName], [OptionValue]) VALUES (2, N'Discount', N'Option', N'10%, 20%')
INSERT [ecomm].[FilterBy] ([Id], [FilterName], [OptionName], [OptionValue]) VALUES (3, N'Range', N'Range', N'10000, 20000')
SET IDENTITY_INSERT [ecomm].[FilterBy] OFF
GO
SET IDENTITY_INSERT [ecomm].[IndexPage] ON 

INSERT [ecomm].[IndexPage] ([Id], [ModuleName], [FilterById], [Rank]) VALUES (1, N'Home', NULL, 1)
INSERT [ecomm].[IndexPage] ([Id], [ModuleName], [FilterById], [Rank]) VALUES (2, N'About', NULL, 8)
INSERT [ecomm].[IndexPage] ([Id], [ModuleName], [FilterById], [Rank]) VALUES (3, N'Sarees', N'1,2,3,4', 2)
SET IDENTITY_INSERT [ecomm].[IndexPage] OFF
GO
SET IDENTITY_INSERT [ecomm].[OrderItems] ON 

INSERT [ecomm].[OrderItems] ([Id], [OrderId], [ProductId], [ProductName], [UnitPrice], [Quantity]) VALUES (1, 1, 1, N'Mens Casual Slim Fit', CAST(1000.00 AS Decimal(18, 2)), 1)
INSERT [ecomm].[OrderItems] ([Id], [OrderId], [ProductId], [ProductName], [UnitPrice], [Quantity]) VALUES (2, 2, 2, N'Mens Cotton Jacket', CAST(500.00 AS Decimal(18, 2)), 2)
INSERT [ecomm].[OrderItems] ([Id], [OrderId], [ProductId], [ProductName], [UnitPrice], [Quantity]) VALUES (4, 1, 2, N'Mens Cotton Jacket', CAST(500.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [ecomm].[OrderItems] OFF
GO
SET IDENTITY_INSERT [ecomm].[Orders] ON 

INSERT [ecomm].[Orders] ([Id], [CreatedAt], [Total], [CustomerId]) VALUES (1, CAST(N'2025-11-02T00:00:00.0000000' AS DateTime2), CAST(2000.00 AS Decimal(18, 2)), NULL)
INSERT [ecomm].[Orders] ([Id], [CreatedAt], [Total], [CustomerId]) VALUES (2, CAST(N'2025-11-02T00:00:00.0000000' AS DateTime2), CAST(3000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [ecomm].[Orders] OFF
GO
SET IDENTITY_INSERT [ecomm].[Products] ON 

INSERT [ecomm].[Products] ([Id], [Name], [Description], [Price], [Stock], [CreatedAt], [CategoryId], [Color], [Discount], [Blouse], [NewArrival], [ImageUrl], [UpdatedAt], [UpdatedBy]) VALUES (1, N'Mens Casual Slim Fit', N'Mens Casual Slim Fit', CAST(1000.00 AS Decimal(18, 2)), 10, CAST(N'2025-11-02T00:00:00.0000000' AS DateTime2), 1, N'Blue', 10, 1, 1, N'assets/PhotoGallery/Kurtas/a16.jpg', NULL, NULL)
INSERT [ecomm].[Products] ([Id], [Name], [Description], [Price], [Stock], [CreatedAt], [CategoryId], [Color], [Discount], [Blouse], [NewArrival], [ImageUrl], [UpdatedAt], [UpdatedBy]) VALUES (2, N'Mens Cotton Jacket', N'Mens Cotton Jacket', CAST(500.00 AS Decimal(18, 2)), 20, CAST(N'2025-11-02T00:00:00.0000000' AS DateTime2), 1, N'Blue', 0, 0, 0, N'assets/PhotoGallery/Kurtas/a15.jpg', NULL, NULL)
INSERT [ecomm].[Products] ([Id], [Name], [Description], [Price], [Stock], [CreatedAt], [CategoryId], [Color], [Discount], [Blouse], [NewArrival], [ImageUrl], [UpdatedAt], [UpdatedBy]) VALUES (3, N'Mens Casual Slim Fit', N'Mens Casual Slim Fit', CAST(1000.00 AS Decimal(18, 2)), 10, CAST(N'2025-11-02T00:00:00.0000000' AS DateTime2), 1, N'Blue', 10, 1, 1, N'assets/PhotoGallery/Kurtas/a11.jpg', NULL, NULL)
SET IDENTITY_INSERT [ecomm].[Products] OFF
GO
SET IDENTITY_INSERT [ecomm].[Users] ON 

INSERT [ecomm].[Users] ([Id], [Username], [Password], [CreatedAt], [Role]) VALUES (1, N'kathir', N'kathir', CAST(N'2025-11-02T00:00:00.0000000' AS DateTime2), 1)
INSERT [ecomm].[Users] ([Id], [Username], [Password], [CreatedAt], [Role]) VALUES (2, N'bala', N'bala', CAST(N'2025-11-02T00:00:00.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [ecomm].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Username]    Script Date: 15-11-2025 11:13:54 ******/
ALTER TABLE [ecomm].[Users] ADD  CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblavailability] ADD  DEFAULT ((0)) FOR [RoomNo]
GO
ALTER TABLE [dbo].[tblavailability] ADD  DEFAULT (N'') FOR [BookedDate]
GO
ALTER TABLE [dbo].[tblreservation] ADD  DEFAULT ((0)) FOR [RoomNo]
GO
ALTER TABLE [dbo].[tblreservation] ADD  DEFAULT (N'') FOR [CheckInDate]
GO
ALTER TABLE [dbo].[tblreservation] ADD  DEFAULT (N'') FOR [CheckOutDate]
GO
ALTER TABLE [dbo].[tblreservation] ADD  DEFAULT ((0)) FOR [NoOfAdults]
GO
ALTER TABLE [dbo].[tblrooms] ADD  DEFAULT ((0)) FOR [RoomNo]
GO
ALTER TABLE [dbo].[tblrooms] ADD  DEFAULT (N'') FOR [RoomType]
GO
ALTER TABLE [dbo].[tblrooms] ADD  DEFAULT ((0.00)) FOR [Price]
GO
ALTER TABLE [ecomm].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [ecomm].[Orders] ADD  DEFAULT ((0.00)) FOR [Total]
GO
ALTER TABLE [ecomm].[Products] ADD  CONSTRAINT [DF__Products__Create__0C50D423]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [ecomm].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [ecomm].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([CustomerId])
REFERENCES [ecomm].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ecomm].[Cart] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [ecomm].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Order] FOREIGN KEY([OrderId])
REFERENCES [ecomm].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ecomm].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Order]
GO
ALTER TABLE [ecomm].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Product] FOREIGN KEY([ProductId])
REFERENCES [ecomm].[Products] ([Id])
GO
ALTER TABLE [ecomm].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Product]
GO
ALTER TABLE [ecomm].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customer] FOREIGN KEY([CustomerId])
REFERENCES [ecomm].[Users] ([Id])
GO
ALTER TABLE [ecomm].[Orders] CHECK CONSTRAINT [FK_Orders_Customer]
GO
ALTER TABLE [ecomm].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Orders] FOREIGN KEY([OrderId])
REFERENCES [ecomm].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ecomm].[Payment] CHECK CONSTRAINT [FK_Payment_Orders]
GO
ALTER TABLE [ecomm].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Users] FOREIGN KEY([CustomerId])
REFERENCES [ecomm].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ecomm].[Payment] CHECK CONSTRAINT [FK_Payment_Users]
GO
ALTER TABLE [ecomm].[Shipment]  WITH CHECK ADD  CONSTRAINT [FK_Shipment_Orders] FOREIGN KEY([OrderId])
REFERENCES [ecomm].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ecomm].[Shipment] CHECK CONSTRAINT [FK_Shipment_Orders]
GO
ALTER TABLE [ecomm].[Shipment]  WITH CHECK ADD  CONSTRAINT [FK_Shipment_Payment] FOREIGN KEY([PaymentId])
REFERENCES [ecomm].[Payment] ([Id])
GO
ALTER TABLE [ecomm].[Shipment] CHECK CONSTRAINT [FK_Shipment_Payment]
GO
ALTER TABLE [ecomm].[Shipment]  WITH CHECK ADD  CONSTRAINT [FK_Shipment_UserDetail] FOREIGN KEY([DeliveryAddressId])
REFERENCES [ecomm].[UserDetail] ([Id])
GO
ALTER TABLE [ecomm].[Shipment] CHECK CONSTRAINT [FK_Shipment_UserDetail]
GO
ALTER TABLE [ecomm].[Shipment]  WITH CHECK ADD  CONSTRAINT [FK_Shipment_Users] FOREIGN KEY([CustomerId])
REFERENCES [ecomm].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ecomm].[Shipment] CHECK CONSTRAINT [FK_Shipment_Users]
GO
ALTER TABLE [ecomm].[Track]  WITH CHECK ADD  CONSTRAINT [FK_Track_Orders] FOREIGN KEY([OrderId])
REFERENCES [ecomm].[Orders] ([Id])
GO
ALTER TABLE [ecomm].[Track] CHECK CONSTRAINT [FK_Track_Orders]
GO
ALTER TABLE [ecomm].[Track]  WITH CHECK ADD  CONSTRAINT [FK_Track_Payment] FOREIGN KEY([PaymentId])
REFERENCES [ecomm].[Payment] ([Id])
GO
ALTER TABLE [ecomm].[Track] CHECK CONSTRAINT [FK_Track_Payment]
GO
ALTER TABLE [ecomm].[Track]  WITH CHECK ADD  CONSTRAINT [FK_Track_Shipment] FOREIGN KEY([ShipmentId])
REFERENCES [ecomm].[Shipment] ([Id])
GO
ALTER TABLE [ecomm].[Track] CHECK CONSTRAINT [FK_Track_Shipment]
GO
ALTER TABLE [ecomm].[Track]  WITH CHECK ADD  CONSTRAINT [FK_Track_userDetail] FOREIGN KEY([DeliveryAddressId])
REFERENCES [ecomm].[UserDetail] ([Id])
GO
ALTER TABLE [ecomm].[Track] CHECK CONSTRAINT [FK_Track_userDetail]
GO
ALTER TABLE [ecomm].[Track]  WITH CHECK ADD  CONSTRAINT [FK_track_Users] FOREIGN KEY([CustomerId])
REFERENCES [ecomm].[Users] ([Id])
GO
ALTER TABLE [ecomm].[Track] CHECK CONSTRAINT [FK_track_Users]
GO
ALTER TABLE [ecomm].[UserDetail]  WITH CHECK ADD  CONSTRAINT [FK_UserDetail_User] FOREIGN KEY([UserId])
REFERENCES [ecomm].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ecomm].[UserDetail] CHECK CONSTRAINT [FK_UserDetail_User]
GO
USE [master]
GO
