.toolbar {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

table {
  width: 100%;
}

img {
  border-radius: 6px;
  object-fit: cover;
}
mat-card {
  padding: 16px;
}

.item-row {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

.price-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.total {
  font-size: 18px;
}

