@{
    ViewData["Title"] = "Book Now Page";
}

@Html.Hidden("RedirectTo", Url.Action("ViewBooking", "Home"));
<section class="hero-section">
    <!-- Hero Section Begin -->
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                <div class="booking-form">
                    <h3>Booking Your Hotel</h3>
                    @using (Html.BeginForm())
                    {
                        <!--    <form action="#">   -->
                        <div class="check-date">
                            <label for="date-in">Check In:</label>
                            <input type="text" class="date-input" id="date-in">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Check Out:</label>
                            <input type="text" class="date-input" id="date-out">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="select-option">
                            <label for="guest">Guests:</label>
                            <select id="guest" onchange="AddGuests()">
                                <option value="2">2 Adults</option>
                                <option value="3">3 Adults</option>
                            </select>
                        </div>
                        <div class="select-option">
                            <label for="room">Room:</label>
                            <select id="room" onchange="AddGuests()">
                                <option value="1">1 Room</option>
                                <!--option value="2">2 Room</!--option-->
                            </select>
                        </div>
                        <div class="select-option">
                            <label for="roomtype">Room Types:</label>
                            <select id="roomtype">
                                <option value="Economic">Economic</option>
                                <option value="Deluxe">Deluxe</option>
                                <option value="Family">Family</option>
                                <option value="Premium">Premium</option>
                            </select>
                        </div>
                        <div>
                            <table style="width: 100%;border: 1px solid black" class="table" id="guestTable">
                                <tr><th>Name</th><th>Age</th><th>Sex</th><th>Phone</th><th>Address</th></tr>
                                <tr>
                                    <td><input type="text" id="tbname_0" value="" size="10"></td>
                                    <td><input type="text" id="tbage_0" value="0" size="10"></td>
                                    <td><input type="text" id="tbsex_0" value="" size="10"></td>
                                    <td><input type="text" id="tbphone_0" value="" size="10"></td>
                                    <td><input type="text" id="tbaddress_0" value="" size="20"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" id="tbname_1" value="" size="10"></td>
                                    <td><input type="text" id="tbage_1" value="0" size="10"></td>
                                    <td><input type="text" id="tbsex_1" value="" size="10"></td>
                                    <td><input type="text" id="tbphone_1" value="" size="10"></td>
                                    <td><input type="text" id="tbaddress_1" value="" size="20"></td>
                                </tr>
                            </table>
                        </div>
                        <table>
                            <tr>
                                <td><button type="button" onclick="SaveData()" class="btn btn-primary">Book Now</button></td>
                            </tr>
                        </table>
                        <!-- </form>    -->
                    }
                </div>
            </div>
        </div>
    </div>   
</section>
    <!-- Hero Section End -->
    <script type="text/javascript">
    function AddGuests() {

        var guests = $("#guest").val();
        var rooms = $("#room").val();

        var noofguests = parseInt(guests) * parseInt(rooms);

        $('#guestTable').empty();

        var someRow = "<tr><th>Name</th><th>Age</th><th>Sex</th><th>Phone</th><th>Address</th></tr>"; // add resources
        $("#guestTable").append(someRow);

        for (i = 0; i < noofguests; i++) {
            var divBody = GetDynamicTextBox(i)
            $("#guestTable").append(divBody);
        }
    }
    function CreateDefault() {

        $('#guestTable').empty();
        var guests = $("#guest").val();
        var rooms = $("#room").val();
        var noofguests = parseInt(guests) * parseInt(rooms);

        var someRow = "<tr><th>Name</th><th>Age</th><th>Sex</th><th>Phone</th><th>Address</th></tr>"; // add resources
        $("#guestTable").append(someRow);

        for (i = 0; i < noofguests; i++) {
            var divBody = GetDynamicTextBox(i)
            $("#guestTable").append(divBody);
        }

    }
    function GetDynamicTextBox(index) {
        //debugger;
        var div = $("<tr />");
        var divtdName = $("<td/>");
        var divtdAge = $("<td/>");
        var divtdSex = $("<td/>");
        var divtdPhoneNo = $("<td/>");
        var divtdAddress = $("<td/>");

        var textBoxName = $("<input />").attr("type", "textbox").attr("id", "tbname_" + index).attr("size", 10);
       // textBoxName.val('Name');
        divtdName.append(textBoxName);

        var textBoxAge = $("<input />").attr("type", "textbox").attr("id", "tbage_" + index).attr("size", 10);
        textBoxAge.val('0');
        divtdAge.append(textBoxAge);

        var textBoxSex = $("<input />").attr("type", "textbox").attr("id", "tbsex_" + index).attr("size", 10);
        //textBoxSex.val('Sex');
        divtdSex.append(textBoxSex);

        var textBoxPhone = $("<input />").attr("type", "textbox").attr("id", "tbphone_" + index).attr("size", 10);
        //textBoxPhone.val('Phone');
        divtdPhoneNo.append(textBoxPhone);

        var textBoxAddress = $("<input />").attr("type", "textbox").attr("id", "tbaddress_" + index).attr("size", 20);
        //textBoxAddress.val('Address');
        divtdAddress.append(textBoxAddress);


        div.append(divtdName);
        div.append(divtdAge);
        div.append(divtdSex);
        div.append(divtdPhoneNo);
        div.append(divtdAddress);

        return div;
    }

    function BookNow() {
        //    debugger;
        var guests = $("#guest").val();
        var rooms = $("#room").val();
        var checkin = $("#date-in").val();
        var checkout = $("#date-out").val();
        var roomtype = $("#roomtype").val();


        $.ajax({
            url: "@Url.Action("CheckAvailability", "Home")",
            data: { CheckInDate: checkin, CheckOutDate: checkout, Guests: guests, Rooms: rooms, RoomType: roomtype },
            cache: false,
            DataType: 'json',
            type: "POST",
            success: function (data) {
                if (data == "SUCCESS") {
                    SaveData();
                }
                else
                    alert(data);

            },
            error: function (response) {
                alert(response);
            }
        });

    }
    function SaveData() {

        var guests = $("#guest").val();
        var rooms = $("#room").val();
        var checkin = $("#date-in").val();
        var checkout = $("#date-out").val();
        var roomtype = $("#roomtype").val();

        var noofguests = parseInt(guests) * parseInt(rooms);

        var names = new Array(noofguests);
        var ages = new Array(noofguests);
        var sexs = new Array(noofguests);
        var phones = new Array(noofguests);
        var addresses = new Array(noofguests);

        for (i = 0; i < noofguests; i++) {

            if (($("#tbname_" + i).val() != "") && ($("#tbage_" + i).val() > 0) && ($("#tbsex_" + i).val() != "")) {
                names[i] = $("#tbname_" + i).val();
                ages[i] = $("#tbage_" + i).val();
                sexs[i] = $("#tbsex_" + i).val();
                phones[i] = $("#tbphone_" + i).val();
                addresses[i] = $("#tbaddress_" + i).val();
            }
            else {
                alert("Please enter name,age and sex then try...")
                return;
            }

        }
        $.ajax({
            url: "@Url.Action("SaveData", "Home")",
            data: { CheckInDate: checkin, CheckOutDate: checkout, Guests: guests, Rooms: rooms,RoomType:roomtype, Names: names, Ages: ages, Sexs: sexs, Phones: phones, Addresses: addresses},
            cache: false,
            DataType: 'json',
            type: "POST",
            success: function (data) {
                if (data > 0) {
                    alert("Congrats...Rooms(s) booked.. Your Booking Id is " + data + ". Please note this. Thank You.");
                    CreateDefault(); //reset values
                    ViewBooking(data);
                }
                else
                    alert(data);
            },
            error: function (response) {
                alert(response);
            }
        });

    }
    function CheckAvailability() {
        //    debugger;
        var guests = $("#guest").val();
        var rooms = $("#room").val();
        var checkin = $("#date-in").val();
        var checkout = $("#date-out").val();

        $.ajax({
            url: "@Url.Action("CheckAvailability", "Home")",
            data: { CheckInDate: checkin, CheckOutDate: checkout, Guests: guests, Rooms: rooms },
            //date: {},
            cache: false,
            DataType: 'json',
            type: "POST",
            success: function (data) {
                alert(data);
            },
            error: function (response) {
                alert(response);
            }
        });

    }
    function ViewBooking(custID) {

        var url = $("#RedirectTo").val();
        window.location.href = url + "/" + custID;
        //window.location.href = './ViewBooking/' + custID;

    }

    </script>
