  
<mat-sidenav-container class="header-sidenav-container">  

  <mat-sidenav-content>
    <mat-toolbar class="max-w-7x1 mx-auto border-x header-toolbar"> 

      <div class="header-left">
        <button mat-icon-button class="mobile-menu-btn" aria-label="Open menu">
          <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/home" class="logo">
          <img src="assets/logo.png" alt="ECommerce logo" class="logo-img" />
        </a>
      </div>

      <div class="header-center">
        <nav class="menubar" role="navigation" aria-label="Primary">
          <ul class="menubar-list">
            <li><button mat-button aria-haspopup="true" routerLink="/home">Home</button></li> 
            <li><button mat-button [matMenuTriggerFor]="categoriesMenuSarees" aria-haspopup="true">Sarees</button></li>
            <li><button mat-button [matMenuTriggerFor]="categoriesMenuKurtas" aria-haspopup="true" >Kurtas</button></li>
            <li><button mat-button [matMenuTriggerFor]="categoriesMenuBlouses" aria-haspopup="true">Blouses</button></li>
            <li><button mat-button  aria-haspopup="true" routerLink="/newarrivals" >New Arrivals</button></li>
            <li><button mat-button aria-haspopup="true" routerLink="/aboutus">About</button> </li>            
          </ul>
        </nav>   
      </div>

      <div class="header-right">
        <input type="search" placeholder="Search products..." />
        <button mat-icon-button [matMenuTriggerFor]="menuRef" aria-label="Open cart">
          <mat-icon
          [matBadge]="itemsQuantity"
          [matBadgeHidden]="!itemsQuantity"
          matBadgeColor="warn">
            shopping_cart
          </mat-icon>
        </button>
        <button mat-icon-button aria-label="User account" (click)="onUserClick()">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
      <mat-menu #menuRef="matMenu">
    <div class="p-3 divide-y divide-solid">
      <div class="pb-3 flex justify-between">
        <span class="mr-16">{{ itemsQuantity }} Items</span>
        <a routerLink="cart">View cart</a>
      </div>
      <div *ngIf="cart.items.length" class="py-3">

        <div *ngFor="let item of cart.items" class="flex justify-between font-light mb-2">
          {{ item.name }} x {{ item.quantity }}
          <span class="font-bold">
            {{ item.price | currency }}
          </span>
        </div>

      </div>

      <div class="flex justify-between py-3 font-light">
        Total:
        <span class="font-bold">{{ getTotal(cart.items) | currency }}</span>
      </div>
      <div class="pt-3 flex justify-between py-3 font-light">
        <button
        (click)="onClearCart()"
        class="bg-rose-500 text-white rounded-full w-8 h-8">
          <mat-icon class="mat-18">remove_shopping_cart</mat-icon>
        </button>
        <button class="bg-green-500 text-white rounded-full w-8 h-8">
          <mat-icon class="mat-18">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </mat-menu>
      <mat-menu #categoriesMenuSarees="matMenu">
      <button mat-menu-item *ngFor="let item of menuItemsSarees"
          (click)="item.action && item.action()"
          [routerLink]="item.routerLink">
            {{ item.label }}
      </button>
      </mat-menu>
      <mat-menu #categoriesMenuKurtas="matMenu">
      <button mat-menu-item *ngFor="let item of menuItemsKurtas"s         
          [routerLink]="item.routerLink">
            {{ item.label }}
      </button>
      </mat-menu>      
      <mat-menu #categoriesMenuBlouses="matMenu">
      <button mat-menu-item *ngFor="let item of menuItemsBlouses"          
          [routerLink]="item.routerLink">
            {{ item.label }}
      </button>
      </mat-menu>       
    </mat-toolbar>
  </mat-sidenav-content>
  
</mat-sidenav-container>